/* CSS Document */

.one_box {
	float:left;
	border: 1px solid #CCC;
	margin: 0px 0px 10px;
	padding: 0px 0px 17px;
	width:940px;
}

div.box-content h3 {
	background: #F1F1F2 url(../../img/header/bgtitle.gif) repeat-x;
	color: #333;
	text-transform:uppercase;
	font-size: 18px;
	font-weight: 900;
	padding: 7px 0px 7px 15px;	
}

ul.bblist {
	padding:8px;
	margin-left:20px;
	font-size:.9em;
	line-height:150%;
}

ul.bblist li {
	background:url(../../img/icons/bullet_blue.png) left  center no-repeat;
}

ul.bblist li a, ul.bblist li a:hover, ul.bblist li p {
	margin-left:20px;
	text-decoration:none;
	color:#009;
	
}

table td.mig {
	background-color:#DCF5E0;
}
table td.tig {
	background-color:#E4C5C5;
}
table td.smaw {
	background-color:#CED2FD;
}
table td.pac {
	background-color:#F7F2BF;
}